{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add Page
{% endblock %}

{% block body %}
    <form action = "{% url 'tasks:addpage' %}" method="post">
        {% csrf_token %}
        <label for="ntitle"><h2>New Title:</h2></label><br>
        <input type="text" name="newtitle" required=true value="{{title}}">
        <br><label for="ncontent"><h2>Write new content:</h2></label><br>
        <textarea name="newcontent" required=true wrap=hard rows="1" cols="40" placeholder="Write here the subbmit in markdown format">{{content}}
            
        </textarea><br>
        <input type ="submit">
    </form>
{% endblock %}